form {
    width: 75% !important;
    margin: 0 auto !important;
    
}

table {
}


.myProjectsForm__header {
    text-align: center;
}

#studentLoginForm__promptLoginCont {
    float: right;
}

#studentLoginForm__passwPrompt {
    margin-right: 20px;
}


#acctSettForm__cont {
    display: block;
}

.select {
    display: inline;
}

.save {
    float: right;
}