/* Project Thumbnails */

    .card, .card-image {
      border-radius: 8px;
      /*border:1px solid #50E8CF;*/
      background-color:#50E8CF;
    }

    /* small */

    .thumbnail-small {
      width:100%!important;
      height:auto!important;
    }

    .thumbnail-small-header {
      position:absolute;
      height:24px;
      z-index:1;
      background-color:#50E8CF;
    }

    .thumbnail-small-header-svgs {
      position:absolute;
      /*border-radius: 8px!important;*/
      width:100%;
      border-top-right-radius: 8px!important;
      border-top-left-radius: 8px!important;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      z-index:1;
      background-color:#50E8CF;
    }

    .thumbnail-small-image {
      height:auto;
      position:absolute;
      border-radius: 8px!important;
      border:1px solid #50E8CF;
      background-color:#50E8CF;
    }

    .thumbnail-small-footer {
      border-bottom-right-radius: 8px!important;
      border-bottom-left-radius: 8px!important;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      font-size:11px;
      color:black;
      height:48px;
      padding:0;
      margin:0;
      width:100%;
    }

    .thumbnail-small-footer-background {
      position:absolute;
      left:0;
      bottom:0;
      width:100%;
      opacity: 0.9;
      filter: alpha(opacity=90);
      border-bottom-right-radius: 8px!important;
      border-bottom-left-radius: 8px!important;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      background-color:white;
      height:48px;
      padding:0;
      margin:0;
    }

    .thumbnail-small-footer-content-container,
    .thumbnail-small-footer-image-container {
      padding:0!important;
      margin:0!important;
      width:100%;
      height:48px;
    }

    .thumbnail-small-footer {
      border-bottom:1px solid #50E8CF;
      border-right:1px solid #50E8CF;
      border-left:1px solid #50E8CF;
    }

    .thumbnail-small-footer-text-header-container,
    .thumbnail-small-footer-text-description-container {
      padding:0!important;
      margin:0!important;
    }

    .thumbnail-small-footer-text-header {
      color:#153B35!important;
      font-size:12px!important;
      font-weight:600;
    }

    .thumbnail-small-footer-text-description {
      color:#25776D!important;
      font-size:10px!important;
      font-weight:400;
    }

    .thumbnail-small-footer-text {
      font-family: 'Montserrat', sans-serif;
      line-height:1.4;
      letter-spacing: 0.5px;
      padding:0!important;
      margin:0!important;
      width:170px;
    }

    .thumbnail-small-footer-text-container {
      padding-left:10px!important;
    }

    .thumbnail-small-footer-image {
      max-height:33px !important;
      max-width:33px !important;
      border-radius:50%!important;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }

    /* overlay */

    .thumb-container {
      position: relative;
      width: 100%;
      cursor:pointer;
    }

    .image {
      display: block;
      width: 100%;
      height: auto;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #50E8CF;
      z-index:1;
      border-radius: 8px;
    }

    .thumb-container:hover .overlay {
      opacity: 1;
    }

    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

/* end of Project Thumbnails */
