@import url('https://fonts.googleapis.com/css?family=Montserrat:200');

$blue : #73ddd9;
$teal : #50e8cf;
$dark : #153b35;

* {
    font-family: 'Montserrat';
}
h1 {
    font-size: 3em;
}
main {
    color: $dark;
    margin-bottom: 80px;
}
.row {
    margin: 0 auto;
}
.top-padding {
    position: relative;
}
#admin_head {
    position: fixed;
    margin: 0;
    left: 0;
    right: 0;
    z-index: 5;
    color: white;
    background: $dark;
    h1 {
        font-size: 1.5em;
        text-transform: uppercase;
    }
    a {
        color: inherit;
        transition: color 0.3s ease;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}
#features {
    text-align: center;
    color: $blue;
    i {
        font-size: 8em;
    }
    h2 {
        font-size: 1em;
        text-transform: uppercase;
    }
}
#admin_nav {
    position: fixed;
    height: 90vh;
    padding-top: 50px;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    background: linear-gradient($blue,$teal);
}
