@import url("https://fonts.googleapis.com/css?family=Montserrat:200");
* {
  font-family: 'Montserrat'; }

h1 {
  font-size: 3em; }

main {
  color: #153b35; }

.row {
  margin: 0 auto; }

#admin_head {
  color: white;
  background: #153b35;
  margin: 0;
  position: relative;
  z-index: 5; }
  #admin_head h1 {
    font-size: 1.5em;
    text-transform: uppercase; }
  #admin_head a {
    color: inherit;
    transition: color 0.3s ease; }
    #admin_head a:hover {
      color: rgba(255, 255, 255, 0.8); }

#features {
  text-align: center;
  color: #73ddd9; }
  #features i {
    font-size: 8em; }
  #features h2 {
    font-size: 1em;
    text-transform: uppercase; }

#admin_nav {
  position: fixed;
  height: 90vh;
  padding-top: 50px;
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
  background: linear-gradient(#73ddd9, #50e8cf); }
